{
    "name": "jsite",
    "host": "0.0.0.0",
    "port": ":8080",

    "filespath": "/Users/jekabolt/code/go/src/github.com/jekabolt/jsite/web/jblog",
    "templates": [
        "../web/jblog/cover/index.html",
        "../web/jblog/cover/404/404.html",
        "../web/jblog/cover/blog/blog.html",
        "../web/jblog/cover/datahon/datahon.html"
    ]
}